---
http_interactions:
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:login><tns:username>your_responsys_username</tns:username><tns:password>your_responsys_password</tns:password></tns:login></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><loginResponse
        xmlns="urn:ws.rsys.com"><result><sessionId>DEAR_SESSION_ID</sessionId></result></loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 28 May 2015 10:53:03 GMT
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:mergeListMembers><tns:list><tns:folderName>z_Stock_Alerts</tns:folderName><tns:objectName>z_Stock_Alerts_Test_List</tns:objectName></tns:list><tns:recordData><tns:fieldNames>EMAIL_ADDRESS_</tns:fieldNames><tns:fieldNames>CUSTOMER_ID_</tns:fieldNames><tns:records><tns:fieldValues>luke.farrar@thebookpeople.co.uk</tns:fieldValues><tns:fieldValues>CUST_ID_99</tns:fieldValues></tns:records><tns:records><tns:fieldValues>lukepfarrar@gmail.com</tns:fieldValues><tns:fieldValues>CUST_ID_33</tns:fieldValues></tns:records></tns:recordData><tns:mergeRule><tns:insertOnNoMatch>true</tns:insertOnNoMatch><tns:updateOnMatch>REPLACE_ALL</tns:updateOnMatch><tns:matchColumnName1>EMAIL_ADDRESS_</tns:matchColumnName1><tns:matchColumnName2></tns:matchColumnName2><tns:matchColumnName3></tns:matchColumnName3><tns:matchOperator>AND</tns:matchOperator><tns:optinValue>I</tns:optinValue><tns:optoutValue>O</tns:optoutValue><tns:htmlValue>H</tns:htmlValue><tns:textValue>T</tns:textValue><tns:rejectRecordIfChannelEmpty></tns:rejectRecordIfChannelEmpty><tns:defaultPermissionStatus>OPTOUT</tns:defaultPermissionStatus></tns:mergeRule></tns:mergeListMembers></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><mergeListMembersResponse
        xmlns="urn:ws.rsys.com"><result><insertCount>0</insertCount><updateCount>2</updateCount><rejectedCount>0</rejectedCount><totalCount>2</totalCount><errorMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></result></mergeListMembersResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 28 May 2015 10:53:04 GMT
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:logout></tns:logout></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><logoutResponse
        xmlns="urn:ws.rsys.com"><result>true</result></logoutResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 28 May 2015 10:53:05 GMT
recorded_with: VCR 2.9.3
