---
http_interactions:
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:login><tns:username>your_responsys_username</tns:username><tns:password>your_responsys_password</tns:password></tns:login></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><loginResponse
        xmlns="urn:ws.rsys.com"><result><sessionId>DEAR_SESSION_ID</sessionId></result></loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Apr 2015 09:59:11 GMT
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:retrieveListMembers><tns:list><tns:folderName>TBP_Prog_Stock_Alert</tns:folderName><tns:objectName>Stock
        Alert</tns:objectName></tns:list><tns:queryColumn>EMAIL_ADDRESS</tns:queryColumn><tns:fieldList>RIID_</tns:fieldList><tns:fieldList>CUSTOMER_ID_</tns:fieldList><tns:fieldList>EMAIL_ADDRESS_</tns:fieldList><tns:fieldList>MOBILE_NUMBER_</tns:fieldList><tns:idsToRetrieve>nigel.vivian@thebookpeople.co.uk</tns:idsToRetrieve><tns:idsToRetrieve>iwan.pritchard@thebookpeople.co.uk</tns:idsToRetrieve></tns:retrieveListMembers></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><retrieveListMembersResponse
        xmlns="urn:ws.rsys.com"><result><recordData><fieldNames>RIID_</fieldNames><fieldNames>CUSTOMER_ID_</fieldNames><fieldNames>EMAIL_ADDRESS_</fieldNames><fieldNames>MOBILE_NUMBER_</fieldNames><records><fieldValues>418390408</fieldValues><fieldValues
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><fieldValues>iwan.pritchard@thebookpeople.co.uk</fieldValues><fieldValues
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></records><records><fieldValues>418390410</fieldValues><fieldValues
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><fieldValues>nigel.vivian@thebookpeople.co.uk</fieldValues><fieldValues
        xmlns:xsi="htt[...]
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:logout></tns:logout></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><logoutResponse
        xmlns="urn:ws.rsys.com"><result>true</result></logoutResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Apr 2015 09:59:13 GMT
recorded_with: VCR 2.9.3
