---
http_interactions:
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:login><tns:username>your_responsys_username</tns:username><tns:password>your_responsys_password</tns:password></tns:login></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><loginResponse
        xmlns="urn:ws.rsys.com"><result><sessionId>DEAR_SESSION_ID</sessionId></result></loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Apr 2015 09:59:09 GMT
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:retrieveListMembers><tns:list><tns:folderName>TBP_Prog_Stock_Alert</tns:folderName><tns:objectName>Stock
        Alert</tns:objectName></tns:list><tns:queryColumn>EMAIL_ADDRESS</tns:queryColumn><tns:fieldList>PRODUCT_TITLE</tns:fieldList><tns:fieldList>FIRST_NAME</tns:fieldList><tns:fieldList>LAST_NAME</tns:fieldList><tns:idsToRetrieve>nigel.vivian@thebookpeople.co.uk</tns:idsToRetrieve><tns:idsToRetrieve>iwan.pritchard@thebookpeople.co.uk</tns:idsToRetrieve></tns:retrieveListMembers></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><retrieveListMembersResponse
        xmlns="urn:ws.rsys.com"><result><recordData><fieldNames>PRODUCT_TITLE</fieldNames><fieldNames>FIRST_NAME</fieldNames><fieldNames>LAST_NAME</fieldNames><records><fieldValues>Simply
        Italian</fieldValues><fieldValues>Iwan</fieldValues><fieldValues>Pritchard</fieldValues></records><records><fieldValues>Simply
        Italian</fieldValues><fieldValues>Nigel</fieldValues><fieldValues>Vivian</fieldValues></records><records><fieldValues>Home
        Brew Beer</fieldValues><fieldValues>Iwan</fieldValues><fieldValues>Pritchard</fieldValues></records><records><fieldValues>Ice
        Lollies</fieldValues><fieldValues>Nigel</fieldValues><fieldValues>Vivian</fieldValues></records><records><fieldValues>Super
        Fresh Juices and Smoothies</fieldValues><fieldValues>Nigel</fieldValues><fieldValues>Vivian</fieldValues></records><records><fieldValues>From
        Pole to Pole</fieldValues><fieldValues>Nigel</fieldValues><fieldValues>Vivian</fieldValues></records><records><fieldValues>From
        Pole to Pole</fieldValues><fieldValues>Iwan</fieldValues><fieldValues>Pritchard</fieldValues></records><records><fieldValues>Everyday
        Crystals for a Better Life</fieldValues><fieldValues>Nigel</fieldValues><fieldValues>Vivian</fieldValues></records><records><fieldValues>Everyday
        Crystals for a Better Life</fieldValues><fieldValues>Iwan</fieldValues><fieldValues>Pritchard</fieldValues></records></recordData></result></retrieveListMembersResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Apr 2015 09:59:10 GMT
- request:
    method: post
    uri: https://ws2.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>DEAR_SESSION_ID</sessionId></sessionHeader></env:Header><env:Body><tns:logout></tns:logout></env:Body></env:Envelope>
    headers: 
  response:
    status:
      code: 200
      message: OK
    headers: 
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><logoutResponse
        xmlns="urn:ws.rsys.com"><result>true</result></logoutResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 27 Apr 2015 09:59:10 GMT
recorded_with: VCR 2.9.3
